.container {
  display: flex;
  justify-content: space-around;
  align-self:center;
}

.container_style {
  background-color: dodgerblue;
  height: 200px;
}

.item {
  width: 90px;
  height: 90px;
}

.item_style {
  background-color: lightgray;
  border: 2px solid black;
  text-align: center;
  color: tomato;
  font-size: 20px;
}
.dir_row{
flex-direction: row-reverse;
}

.dir_col{
flex-direction: column-reverse;
}