body {
  background-color: rgb(5, 203, 167);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}
.cardContainer {
  width: 400px;
  height: 550px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.infoContainer {
}
.infoContainer p {
  font-size: 15px;
}
.imgContainer {
  width: 170px;
  height: 170px;
  border-radius: 85px;
  background-color: rgb(249, 250, 253);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("Без названия.jpg");
}
.mediaConteiner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 100px;
  background-color: #1f354c;
  color: tomato;
}

.boxContainer {
}
.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 400px;
}
.cardButtonContainer {
  height: 100px;
}
.cardButton {
  color: white;
  height: 50px;
  border-radius: 5px;
  width: 150px;
  background-color: rgb(102, 180, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
